.whole-product {
  background: #d34735;
  width: 100%;
  height: 300px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;

  align-items: center;

  margin: 10px;
  padding: 10px;
}

.product-img {
  height: 80%;
  width: auto;
}

.right-side {
  display: flex;
  height: 80%;
  width: 40%;
  /* border: 2px solid black; */
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
}

.prod-button {
  background: #3ad886;
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.prod-button:hover {
  cursor: pointer;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
}

.product-text {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  /* border: #3ad886 dotted 2px; */
}

.product-name {
  font-weight: bold;
}
