@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: "Open-Sans", sans-serif;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-evenly;
}
