@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: "Open-Sans", sans-serif;
  box-sizing: border-box;
}

/* .whole-app {
  display: flex;
} */

main {
  /* width: 100vw; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
